<div class="uk-margin uk-flex uk-flex-center">
            <small class="uk-margin-small uk-text-muted"><a uk-toggle="target: #prophetModal" type="button" class="uk-text-muted">未来日記とは?</a></small>
          </div>
          <!-- This is the modal -->
          <div id="prophetModal" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-margin-auto-vertical uk-padding-large">
              <button class="uk-modal-close-default" type="button" uk-close></button>
              <div class="uk-padding-large uk-container"  uk-overflow-auto>
                <h3 class="uk-heading-line">未来日記とは?</h3>
                <p>未来日記とは、<b>自分の目標やなりたい姿</b>をあたかも既にできたことかのように書くことです。</p>
                <p>もともとは心療内科での治療として、「精神疾患が完治した自分の姿を日記に書く」という形式で用いられていました。</p>

                <small><%= link_to "参考文献: Emotional and physical health benefits of expressive writing/Karen A. Baikie and Kay Wilhelm(2005)", "https://www.cambridge.org/core/journals/advances-in-psychiatric-treatment/article/" %></small>

                <h3 class="uk-heading-line">目標を過去形で書こう！</h3>
                <p>コツは<b>「〇〇ができた」と過去形で書くことです。</b>これにより、脳が現在の自分とのギャップを埋めようとし、自分を行動へと向かわせてくれます。</p>

                <h3>使い方は簡単2ステップ</h3>
                <p>Prophtterの使い方は非常にシンプルです！</p>
                <%= image_tag "prophetter.001.png", size: "500x500" %>
              </div>
            </div>
          </div>
