<div class="uk-margin-small uk-flex uk-flex-center">
  <small class="uk-text-muted"><a uk-toggle="target: #prophetModal" class="uk-text-muted">未来日記とは?</a></small>
</div>
          <!-- This is the modal -->
<div id="prophetModal" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical uk-padding-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-padding-large uk-container"  uk-overflow-auto>
      <h3 class="uk-heading-line">未来日記とは?</h3>
      <p>未来日記とは、<b>自分の目標やなりたい姿</b>をあたかも既にできたことかのように書くことです。</p>

      <h3 class="uk-heading-line">目標を過去形で書こう！</h3>
      <p>コツは<b>「〇〇ができた」と過去形で書くことです。</b>これにより、脳が現在の自分とのギャップを埋めようとし、自分を行動へと向かわせてくれます。</p>

      <h3>使い方は簡単2ステップ</h3>
      <p>Prophtterの使い方は非常にシンプルです！</p>
      <%= image_tag "prophetter.001.png", size: "500x500" %>
    </div>
  </div>
</div>
