
<div class="uk-container-xsmall uk-container uk-padding uk-padding-remove-vertical uk-width-2-3@s">
  <div class="uk-margin-top">
    <h4 class="uk-heading-line uk-text-center"><span>みんなのProphet</span></h4>
    <div>
      <%= render partial: "/prophets/prophet", collection: @prophets %>
    </div>
  </div>
</div>


<!-- <p class="uk-text-small">心理学の実証研究によって、人は目標を誰かに宣言することで満足をしてしまうことが証明されています。口にすればするほど、目標は達成から遠ざかってしまうのです。</p>
<p class="uk-text-small">Prophetterで自分の目標を密かにProphet(予約投稿)し、その日までに達成する努力をしていきましょう。</p> -->
