<head>
  <meta name="twitter:card" content="summary_large_image">
  <!-- <meta name="twitter:site" content="#"> -->
  <meta name="twitter:creator" content="@<%= @prophet.user.screen_name %>">
  <meta name="twitter:title" content="達成予言">
  <meta name="twitter:description" content="<%= @prophet.text %>">
  <% url = "https://prophetter.herokuapp.com/ogp_images/ogp.png"  %>
  <meta name="twitter:image" content="<%= url %>">
  <!-- <meta name="twitter:image" content="https://prophetter.herokuapp.com/ogp_images/ogp.png"> -->
</head>


<div class="uk-container-xsmall uk-container uk-margin-large uk-width-2-3@m">
  <%= render partial: "prophets/prophet", locals: { prophet: @prophet } %>
</div>
