<div class="uk-section uk-section-default">
  <div class="uk-container">
    <h2 class="uk-text-center">「◯◯達成した。」</h2>
    <p class="uk-text-center">Twitterで目標達成をProphet(予言)しよう。</p>
    <div class="uk-text-center uk-margin">
      <% if user_signed_in? %>
        <%= link_to "Prophetする", new_prophet_path, class: "uk-button uk-button-secondary uk-width-1-2 uk-width-1-3@m round-button" %>
      <% else %>
        <%= link_to "/auth/twitter", class: "uk-button uk-button-secondary uk-width-1-2 uk-width-1-3@m round-button" do %>
          ログイン    <span uk-icon="icon: twitter; ratio: 1" class="uk-text-white"></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<div class="uk-container-xsmall uk-container uk-margin-large uk-width-2-3@m">
  <% if user_signed_in? %>
    <h4 class="uk-heading-line uk-text-center"><span>あなたのProphet</span></h4>
    <p class="uk-text-center uk-text-small">達成予定日に自動でツイートされます</p>
    <p class="uk-text-center uk-text-small">それまでにがんばって達成しましょう</p>

    <div>
      <%= render partial: "/prophets/prophet", collection: @users_prophets %>
    </div>
  <% else %>
    <h4 class="uk-heading-line uk-text-center"><span>みんなのProphet</span></h4>
    <p class="uk-text-center uk-text-small">達成予定日に自動でツイートされます</p>
    <p class="uk-text-center uk-text-small">それまでにがんばって達成しましょう</p>

    <div>
      <%= render partial: "/prophets/prophet", collection: @all_prophets %>
    </div>
  <% end %>
</div>
